.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-backgroud);
  min-width: fit-content;
  overflow-y: scroll;
  --ms-overflow-style: none;
  scrollbar-width: none;
}

.feed::-webkit-scrollbar{
  display: none;
}

.feed__header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffffff;
  border-bottom: 1px solid var(--twitter-backgroud);
  padding: 15px 20px;
}